= link_to "Search all Professors", "http://lawpac.lawnet.fordham.edu/search/a?searchtype=p&searcharg=#{CGI.escape query}",
      target: "_blank", class: 'view-all-results-link'
= link_to "Search all Courses", "http://lawpac.lawnet.fordham.edu/search/a?searchtype=r&searcharg=#{CGI.escape query}",
      target: "_blank", class: 'view-all-results-link'
