.bento_item {
  padding: 1em;
  background: #fff;
  margin: 1em 0;
  box-shadow: 0 3px 12px rgba($black, 0.1);
}

.source_title {
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.abstract {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  color: $light-gray-text;
}

.bento_search_error {
  padding: 1em;
  border: 1px solid mix($highlight-color, #fff, 30%);
  background: mix($highlight-color, #fff, 15%);
  color: $highlight-color;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 12px;
}
