.bento_item {
  padding: 1em;
  background: #fff;
  margin: 0.6em 0;
  box-shadow: 0 3px 12px rgba($black, 0.1);
  word-wrap: break-word;
  word-break: break-word;
}

.bento_item_about {
  color: $highlight-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.bento_item_title a:hover {
  text-decoration: underline;
}

.source_title {
  hyphens: auto;
}

.abstract {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  color: $light-gray-text;
}

.bento_search_error {
  padding: 1em;
  border: 1px solid mix($highlight-color, #fff, 30%);
  background: mix($highlight-color, #fff, 15%);
  color: $highlight-color;
  font-size: 12px;

  p {
    margin: 0 0 0.8em 0;
  }
}
