@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

// Shared
@import 'globals';
@import 'typography';
@import 'forms';

// Components
@import 'search-form';

// Minor overrides for embed context

body {
  background: transparent;
}

.search-form {
  margin-top: 0;
  margin-bottom: 0;
  .search-field {
    margin-top: 0;
  }
}


