//@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
// Raleway but with lining numerals instead of old-style numerals as default
@import url("https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css");

// Shared
@import "globals";
@import "typography";
@import "forms";

// Components
@import "search-form";

// Minor overrides for embed context

body {
  background: transparent;

  @media screen and (max-width: 800px) {
    font-size: 13px;
  }

  @media screen and (max-width: 740px) {
    font-size: 12px;
  }
}

.search-form {
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  .search-field {
    margin-top: 0;
    width: auto;
    max-width: none;
  }
}
