$gutter: 2%;

// xxxxxx
// Search Results Layout
// xxxxxx

.search-results {
  @extend %content-wrapper;
}

.search-results-main,
.search-results-secondary {
  display: flex;
}

.search-results-box {
  flex: 1;
  margin-right: $gutter;
  margin-bottom: 3em;
  min-width: 1px;

  &:last-of-type {
    margin-right: 0;
  }

  .search-results-box-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;

    h2 {
      margin-right: 1em;
    }

    .search-results-count {
      display: block;
      padding: 0.3em 0.6em;
      border-radius: 4px;
      border: 1px solid $highlight-color;
      color: $highlight-color;
      white-space: nowrap;

      &:hover {
        color: $black;
        border-color: $black;
      }
    }
  }
}

.additional-resources {
  border: $primary-border;
  padding: 1em;

  .extra-link-prompt {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $light-gray-text;
    font-size: 0.8em;
    margin-bottom: 0.75em;
  }

  ul.extra-links {
    padding: 0;
    margin: 0;
    list-style: none;

    li {

       a,
       input {
        text-decoration: underline;
        color: $highlight-color;
        line-height: 150%;
        background: none;
        display: inline;
        text-transform: none;
        font-size: 1em;
        letter-spacing: 0;
        padding: 0;
        border: 0;
      }
    }
  }
}


// xxxxxx
// Three Column Breakpoint
// xxxxxx

@media screen and (min-width: 80em) {

  .search-results {
    display: flex;
  }

  .search-results-main {
    flex: 7;
    margin-right: $gutter * 1.5;
  }

  .search-results-secondary {
    flex: 2;
    flex-direction: column;

    .search-results-box {
      flex: 0 0 auto;
      margin-right: 0;
    }
  }
}


// xxxxxx
// One Column Breakpoint
// xxxxxx

@media screen and (max-width: 760px) {
  .search-results-main,
  .search-results-secondary {
    flex-direction: column;
  }

  .search-results-box {
    margin-right: 0;
  }
}


// xxxxxx
// Secondary Results Breakpoint
// xxxxxx

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .search-results-secondary {
    flex-wrap: wrap;

    .search-results-box {
      flex: 0 0 auto;
      width: (100% - $gutter) / 2;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
