$form-element-border-radius: 4px;

%form-element {
  appearance: none;
  border: none;
  font-size: 1em;
  padding: 0.6em 0.75em;
}

.search-form {
  @extend %content-wrapper;
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;

  .search-field {
    width: 65%;
    display: flex;
    max-width: 50em;
    margin-top: 1em;

    @media screen and (max-width: 42em) {
      width: 100%;
    }
  }
}

.school-name {
  color: $highlight-color;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 620px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

input[type=text] {
  @extend %form-element;
  background: #fff;
  border: $primary-border;
  border-radius: $form-element-border-radius;
  margin-right: 0.5em;
  flex: 1;
}

input[type=submit] {
  @extend %form-element;
  background: $highlight-color;
  color: #fff;
  border-radius: $form-element-border-radius;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background: saturate($highlight-color, 70%);
    cursor: pointer;
  }
}

.search-type-options {
  margin: 0.6em 0;
  white-space: normal;

  label {
    display: inline-block;
    margin: 0.4em 1.5em 0.4em 0;
    white-space: nowrap;
    cursor: pointer;

    &:hover input[type=radio] {
      border-color: $highlight-color;
    }
  }
}

input[type=radio] {
  appearance: none;
  display: inline-block;
  vertical-align: -15%;
  width: 14px;
  height: 14px;
  margin: 0 0.5em 0 0;
  background: #fff;
  border: $primary-border;
  border-radius: 7px;
  outline: none;

  &:checked {
    background: $highlight-color;
    border-color: darken($highlight-color, 20%);
  }
}
