// xxxxxx
// Search Form
// xxxxxx

.logo {
  //display: inline-block;
  display: none;
  height: 0.9em;
  width: auto;
  margin-right: 0.25em;
}

.back-button {
  @extend %secondary-button;
  font-size: 0.8rem;
  font-weight: 400;
  vertical-align: 32%;
  margin-right: 1.25em;
}

.search-form {
  @extend %content-wrapper;
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;

  .search-field {
    //width: 65%;
    //width: 75%; //use with both flash options
    display: flex;
    //max-width: 50em;
    //max-width: 75em; //use with both flash options
    max-width: 62em;
    margin-top: 1em;

    @media screen and (max-width: 42em) {
      width: 100%;
    }
  }
  .search-field input {
    border: 1px solid black;
  } //new tk
}

.school-name {
  color: $highlight-color;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 620px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.search-type-options {
  margin: 0.6em 0;
  white-space: normal;

  label {
    display: inline-block;
    margin: 0.4em 1.5em 0.4em 0;
    white-space: nowrap;
    cursor: pointer;
    //font-weight: bold; //new tk

    &:hover input[type="radio"] {
      border-color: $highlight-color;
      cursor: pointer;
    }
  }
  label input[type="radio"] {
    border-color: gray;
  } //new tk
}

.search-form--content {
  @include three-column-breakpoint {
    display: flex;
  }
}

.search-form--form {
  margin-right: $internal-spacing;
}
