// xxxxxx
// Search Results Layout
// xxxxxx

.search-results {
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
}

.search-results-main,
.search-results-secondary {
  display: flex;
}

.search-results-box {
  flex: 1;
  margin-right: 2%;
  min-width: 1px;

  &:last-of-type {
    margin-right: 0;
  }
}


// xxxxxx
// Three Column Breakpoint
// xxxxxx

@media screen and (min-width: 80em) {

  .search-results {
    display: flex;
  }

  .search-results-main {
    flex: 7;
    margin-right: 3%;
  }

  .search-results-secondary {
    flex: 2;
    flex-direction: column;

    .search-results-box {
      flex: 0 0 auto;
      margin: 0 0 1em 0;
    }
  }
}


// xxxxxx
// One Column Breakpoint
// xxxxxx

@media screen and (max-width: 760px) {
  .search-results-main,
  .search-results-secondary {
    flex-direction: column;
  }

  .search-results-box {
    margin-right: 0;
  }
}


// xxxxxx
// Secondary Results Breakpoint
// xxxxxx

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .search-results-secondary {
    flex-wrap: wrap;

    .search-results-box {
      flex: 0 0 auto;
      width: 49%;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
