// xxxxxx
// Multi-Search Results Layout
// xxxxxx

.search-results {
  @extend %content-wrapper;
}

.search-results-main,
.search-results-secondary {
  display: flex;
}


// xxxxxx
// Three Column Breakpoint
// xxxxxx

@include three-column-breakpoint {

  .search-results {
    display: flex;
  }

  .search-results-main {
    flex: 7;
    margin-right: $gutter;
  }

  .search-results-secondary {
    flex: 2;
    flex-direction: column;

    .search-results-box {
      flex: 0 0 auto;
      margin-right: 0;
    }
  }
}


// xxxxxx
// One Column Breakpoint
// xxxxxx

@include one-column-breakpoint {
  .search-results-main,
  .search-results-secondary {
    flex-direction: column;
  }
}


// xxxxxx
// Secondary Results Breakpoint
// xxxxxx

@media screen and (min-width: $one-column-break) and (max-width: $three-column-break) {
  .search-results-secondary {
    flex-wrap: wrap;

    .search-results-box {
      flex: 0 0 auto;
      width: (100% - $gutter) / 2;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
