// xxxxxx
// Single-Search Results Layout
// xxxxxx

.single-search-results {
  @extend %content-wrapper;
  margin-bottom: 8em;

  .bento_item {
    max-width: $one-column-break;
  }

}

nav.pagination {
  margin: 1em 0;

  a {
    color: $highlight-color;
    text-decoration: underline;
  }
}
