<!DOCTYPE html>
<html>
  <head>
    <title>Fordham Law Search</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'embed', media: 'all' %>
    <%= javascript_include_tag 'embed' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
